::ng-deep mat-form-field {
  width: 100%;

  .mat-form-field-infix {
    border-top: none;

    input {
      margin-top: .25em;
    }
  }

  &.mat-form-field-appearance-outline {
    color: #000 !important;

    &.mat-focused {
      .mat-form-field-outline-thick {
        color: #000 !important;
      }
    }

    .mat-form-field-outline {
      color: #000;
    }

  }
}
